$font-family: 'Roboto', sans-serif;
$font-family-alt: 'Oswald', sans-serif;;
$font-family-validation: $font-family;
$font-family-headings: $font-family-alt;

$text-color: #FFFFFF;
$color1: #FF0068;
$color2: #492E44;

$font-size: 16px;
$font-size-paragraph: 16px;
$paragraph-margin: 24px; //margin-bottom
$paragraph-height: 1.5;  //line-height
$paragraph-color: $text-color;
$list-image: false;  //list.png

$heading-margin: 60, 55 , 30, 25, 25, 25;
$heading-font-size: 42, 40 , 24 , 20, 18, 16;
$heading-font-weight: 600,700,700,600,500,500; // 1 = "normal"(400)
$heading-uppercase: 1,1,1,1,1,1; // 0 = "none", 1 = "uppercase"
$heading-text-align: c,c,c,c,c,c; // c = "center", l = "left", r = "right"
$heading-color: $text-color;

// SM Heading sizes
$sm-heading-change: true;
$sm-heading-margin: 50, 40, true, true, true, false;
$sm-heading-font-size: 38, 26, 24, true, true, false;
// XS Heading sizes
$xs-heading-change: true;
$xs-heading-margin: true, true, true, true, false, false;
$xs-heading-font-size: 28, 26, 24, 22, 20, 18;


$background-color: #fff;
$link-color: $color1;
$link-hover-color: false;

$table-border-color: #d6d6d6;
$table-color: #3c3c3c;
$table-heading-color: false;

$z-index-blocker: 9;
$z-index-modal: 10;
$z-index-close-modal: 11;