@charset "UTF-8";

@import "mixins/compass";
@import "mixins/breakpoints";
@import "mixins/flexbox";
@import "mixins/clearfix";
@import "mixins/list-reset";
@import "mixins/user-select";
@import "mixins/container-relative";
@import "mixins/fontface";
body{padding: 0;}

//libs
@import "variables";
@import "grid";
@import "fonts";
@import "sprites";
@import "reset";
//@import "libs/fancybox3";
@import "libs/slick-theme";
//@import "libs/select2";
//@import "libs/scrollbar";
@import "libs/popup-slide";

//components
//@import "components/to-top";
@import "components/button";
@import "components/object-fit";
@import "components/validation";
@import "components/breadcrumbs";
@import "components/pagination";

//layouts
@import "layouts/header";
@import "layouts/banner";
@import "layouts/stocks";
@import "layouts/models";
@import "layouts/main-page";
@import "layouts/footer";