.button{
  cursor: pointer;
  text-decoration: none;
  input{
    display: none;
  }
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 20px;
  background-position: 89% 50%;
  font-family: $font-family-alt;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  background-color: #282E44;
  padding: 15px;
  padding-right: 35px;
  border-radius: 50px;
  width: 215px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50px;
    border: 1px solid #ffffff;
    transition: all .2s;
  }
  &:before{
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50px;
    background-image: url("../images/button.png");
    background-position: center;
    mix-blend-mode: color-dodge;
    transition: all .2s;
    opacity: 0;
  }
  &:hover{
    &:before{
      opacity: 1;
    }
  }
  &.prev{
    padding-right: 15px;
    padding-left: 35px;
    background-position: 11% 50%;
    background-image: url("../images/svg/arrow-prev.svg");
  }
 /* span{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 200%;
      height: 200%;
      background: radial-gradient(49.89% 50.08% at 49.78% 50.08%, #000000 0%, #3A0000 4%, #6D0000 9%, #9A0000 13%, #BE0000 18%, #DB0000 23%, #EF0000 27%, #FB0000 32%, #FF0000 36%, #DB0000 40%, #A90000 46%, #7B0000 53%, #550000 60%, #360000 67%, #1E0000 74%, #0D0000 81%, #030000 90%, #000000 100%);
      background-blend-mode: screen;
      mix-blend-mode: screen;
      opacity: 0.15;
      @include transform(translate(-50%, -50%));
    }
  }*/
}

.close-button{
  display: block;
  position: absolute;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #492E44;
  box-shadow: 1px 6px 13px 4px rgba(89, 12, 12, 0.5);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  background-image: url("../images/svg/close.svg");
  &:hover{
    &:before{
      opacity: 1;
    }
  }
  &:after{
    content: '';
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
  &:before{
    content: '';
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 3px solid #D82E44;
    filter: drop-shadow(1px 0px 3px #FF0000);
    opacity: 0;
    transition: all .2s;
  }
}