footer
    .container
        .footer-top
            a(href='./index.html').logo
                img(src='../images/footer-logo.png')
            div
            .payments-wrap
                .title Мы принимаем
                .payments
                    img(src='../images/visa.png')
                    img(src='../images/master.png')
                    img(src='../images/gpay.png')
                    img(src='../images/apay.png')
            a(href="tel:+7 (987) 217-18-18").phone +7 (987) 217-18-18
        .footer-middle
            .social-list
                a(target='_blank' href='#').vk
                a(target='_blank' href='#').tg
                a(target='_blank' href='#').yt
                a(target='_blank' href='#').vb
            .footer-nav
                .item-level-0
                    a(href='#').link-level-0 Мастера
                .item-level-0
                    a(href='#').link-level-0 Услуги
                .item-level-0
                    a(href='#').link-level-0 Акции
                .item-level-0
                    a(href='#').link-level-0 Контакты
                .item-level-0
                    a(href='#').link-level-0 Вакансии
                .item-level-0
                    a(href='#').link-level-0 Блог
            .footer-fix
        .footer-bottom
            a(href='#').politic-link Политика конфиденциальности
            a(href='#').public-link Публичная оферта
            span © Relax24 2021