header
    .container
        .mob-line
            .logo.no-events
                img(src='../images/logo.png')
            .burger
                div
                div
                div
        .top-line
            a(href='#address').address Адреса
            a(href=('tel:+7 (987) 217-18-18')).phone +7 (987) 217-18-18
        .bottom-line
            ul.nav
                li.item-level-0
                    a(href='#').link-level-0 Мастера
                li.item-level-0
                    a(href='#').link-level-0 Услуги
                li.item-level-0
                    a(href='#').link-level-0 Акции
                li.item-level-0
                    a(href='#').link-level-0 Контакты
                li.item-level-0
                    a(href='#').link-level-0 Вакансии
                li.item-level-0
                    a(href='#').link-level-0 Блог
            .lang-switch
                a(href=('#')).lang-item.active RU
                a(href=('#')).lang-item EN
.mobile-menu-wrap
    .container
        .mobile-menu
            a(href='#address').address Адреса
            a(href=('tel:+7 (987) 217-18-18')).phone +7 (987) 217-18-18
            ul.nav
                li.item-level-0
                    a(href='#').link-level-0 Мастера
                li.item-level-0
                    a(href='#').link-level-0 Услуги
                li.item-level-0
                    a(href='#').link-level-0 Акции
                li.item-level-0
                    a(href='#').link-level-0 Контакты
                li.item-level-0
                    a(href='#').link-level-0 Вакансии
                li.item-level-0
                    a(href='#').link-level-0 Блог
