ul.pagination
    li.pagination-item.prev
        a(href='#').pagination-link
    li.pagination-item
        a(href='#').pagination-link 1
    li.pagination-item
        a(href='#').pagination-link 2
    li.pagination-item
        a(href='#').pagination-link 3
    li.pagination-item
        a(href='#').pagination-link 4
    li.pagination-item.last
        a(href='#').pagination-link ...
    li.pagination-item.next
        a(href='#').pagination-link