doctype html
html(lang="en")
    head
        title= 'Title'
        link(rel='stylesheet', href='../css/index.min.css', type='text/css' )
        link(rel='stylesheet', href='../css/base.min.css', type='text/css' )
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto&display=swap')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
    body
        .wrap
            include block/header.pug
            block content
        .to-up
        include block/footer.pug
        include block/scripts.pug

