extends base

block content
    .content
        .container
            include block/breadcrumbs
            .vacancy-body.blog-body
                h1 Блог об эротическом массаже
                each value, key in ['Массаж для мужчин с выездом: отдых, о котором мечтает каждый!','Эротический массаж на выезд — закажи удовольствие на дом!','Массаж фут-фетиш — удовольствие без границ!']
                    .blog-item
                        a(href='#').blog-image.object-fit
                            img(src='../images/blog/blog (' + key + ').jpg')
                        .blog-info
                            a(href="#").title #{value}
                            .date 2021.02.15 в 14:23
                            .text Почему массаж для мужчин с выездом – очень востребованная услуга? Согласитесь, что естественное желание каждого представителя сильного пола –получить качественную разрядку после волнующего возбуждения. Но где заказать такой сеанс? Обратитесь в салон Relax24, и самые красивые девушки будет готовы выехать к вам в самое ближайшее время!...
                            a(href="#").button
                                span Читать
                include block/pagination
            .girls-slider
                each val, key in Array(8)
                    if(key !== 0)
                        .model-item
                            .model-links
                                a(href='#').top
                                a(href='#').new
                                a(href='#').play
                            img(src="../images/watermark.png").watermark
                            .address пр-т. Хусаина Ямашева, 17
                            a(href='#').model-image.object-fit
                                img(src='../images/models/model' + key + '.jpg')
                            a(href='#').model-info
                                .model-text
                                    h5  Ангелина, 24
                                    .prop-list
                                        .prop Рост: <span>170</span>
                                        .prop Вес: <span>51</span>
                                        .prop Грудь: <span>2</span>
                                img.model-icon(src='../images/model-icon.png')