extends base

block content
    .content
        .container
            include block/breadcrumbs
            .page-404
                img(src='../images/404.jpg')
                .text-sector-404
                    .h1.error-text 404
                    h1  Ой... Мы не можем найти эту страницу!
                    .text-404 Мы сожалеем, но страница на которую Вы пытались перейти не существует. Пожалуйста вернитесь на предыдущую страницу или воспользуйтесь меню сайта.
                    a(href='#').button
                        span Предыдущая страница