extends base

block content
    .content
        .container
            include block/breadcrumbs
            h1 Программы
            .program-page-grid
                each value, key in ['Тайский боди','Gold','Доминация','Экспресс Lux','Тайский боди','Gold','Доминация','Экспресс Lux',]
                    a(href='#').item.object-fit
                        img(src='../images/programs/program' + key + '.jpg')
                        .bottom-info
                            h4 #{value}
                            .item-info.ac-jb
                                span 6500 <span>₽</span>
                                span 60 <span>мин</span>
            .vip-programs
                .h1 Vip Программы
                .program-page-grid
                    each value, key in ['Камасутра','Развратница','Тайное желание','Все для тебя','Камасутра','Развратница','Тайное желание','Все для тебя',]
                        a(href='#').item.object-fit
                            img(src='../images/programs/Vip.png').vip-image
                            img(src='../images/programs/program' + key + '.jpg')
                            .bottom-info
                                h4 #{value}
                                .text Программа создана для мужчин, которые любят разнообразие и принимают активную позицию в жизни. Лучшая программа с двойным удовольствием,...
                                .item-info.ac-jb
                                    span 6500 <span>₽</span>
                                    span 60 <span>мин</span>
            .premium-programs
                .h1 Premium программы
                .premium-grid
                    each value, key in ['Госпожа','Райское наслаждение','Госпожа','Райское наслаждение']
                        a(href='#').item.object-fit
                            img(src='../images/programs/premium.png').vip-image
                            img(src='../images/programs/program' + key + '.jpg')
                            .bottom-info
                                h4 #{value}
                                .text Властная, гордая и страстная госпожа заставит Вас трепетать от восторга у ее ног! Подчинитесь ее красоте, и она одарит Вас вниманием. Эта программа дарит необыкновенные и такие заманчивые эмоции, которые Вы еще никогда не испытывали! Узнайте, на что способна женщина, когда весь мир у ее ног.
                                .item-info.ac-jc
                                    span 6500 <span>₽</span>
                                    span 60 <span>мин</span>
