extends base

block content
    .content
        .popup.js-popup(data-id-popup="popup-3")
            .js-popup__wrapp.success-popup.video-popup
                .popup__close.js-popup__close.close-button
                .popup_container
                    iframe(type='text/html' width='640' height='390' src='http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com' frameborder='0')
        .popup.js-popup(data-id-popup="popup-0")
            .js-popup__wrapp
                .popup__close.js-popup__close.close-button
                .popup_container
                    h3 Записаться
                    form.form
                        .validation-field.error
                            .placeholder Имя
                            input(type='text' name='name')
                        .validation-field
                            .placeholder Телефон
                            input(type='text' placeholder='+7 () - -' name='phone')
                        .ac-jc
                            a(href="popup-1").button.js-btn-popup.js-popup__close
                                span Записаться
                                input(type='submit')
        .popup.js-popup(data-id-popup="popup-1")
            .js-popup__wrapp.success-popup
                .popup__close.js-popup__close.close-button
                .popup_container
                    img(loading="lazy" src='../images/success.jpg')
                    .success-wrap
                        h3 СПАСИБО ЗА ЗАЯВКУ
                        .success-text В ближайшее время с вами свяжется оператор для подтверждения заказа. Пожалуйста, включите ваш контактный телефон.
        .container
            include block/breadcrumbs
            .vacancy-body.program-item-body
                h2 Тайное желание
                .program-row
                    .left.object-fit
                        img(loading="lazy" src='../images/programs/program0.jpg')
                    .right
                        .program-info-row
                            img(loading="lazy" src='../images/programs/Vip.png')
                            span 6500 <span>₽</span>
                            span 60 <span>мин</span>
                        .text Эксклюзивная программа с легким шоу, где можно воплотить все свои тайные желания. Реализует все ваши фантазии, и не только. <br><br>ПРОГРАММА СОСТОИТ ИЗ:
                        ul
                            li  Омовение до и после программы
                            li Эротическая часть
                            li Чайная церемония
                            li Классика по усиленной технике
                            li Выбор игрушки с двойным релаксом
                        a(href="popup-0").button.js-btn-popup Записаться
                .h2 Другие программы
                .master-slider
                    each value,key in ['Тайский боди','Gold','Доминация','Экспресс Lux','Экспресс Lux']
                        .slide
                            a(href="#").program-slide.object-fit
                                img(loading="lazy" src='../images/programs/program' + key + '.jpg')
                                .slide-title
                                    h4 #{value}
        .container
            .girls-slider
                each val, key in Array(8)
                    if(key !== 0)
                        .model-item
                            .model-links
                                a(href='#').top
                                a(href='#').new
                                a(href='popup-3').play.js-btn-popup
                            img(loading="lazy" src="../images/watermark.png").watermark
                            .address пр-т. Хусаина Ямашева, 17
                            a(href='#').model-image.object-fit
                                img(loading="lazy" src='../images/models/model' + key + '.jpg')
                            a(href='#').model-info
                                .model-text
                                    h5  Ангелина, 24
                                    .prop-list
                                        .prop Рост: <span>170</span>
                                        .prop Вес: <span>51</span>
                                        .prop Грудь: <span>2</span>
                                img.model-icon(src='../images/model-icon.png')