extends base

block content
    .content
        .container
            include block/breadcrumbs
            h1 Акции
            .stock-grid
                each value, key in ['Празднуйте 23 февраля каждый день!','20 минут бесплатного парения в сауне/хаммаме','Алкоголь — в подарок!','Празднуйте 23 февраля каждый день!','20 минут бесплатного парения в сауне/хаммаме','Алкоголь — в подарок!','Празднуйте 23 февраля каждый день!','20 минут бесплатного парения в сауне/хаммаме','Алкоголь — в подарок!',]
                    a(href='#').stock-item.object-fit
                        img(src='../images/stocks/stock (' + key + ').jpg')
                        .stock-info
                            .title #{value}
                            .text Закажите любую программу и получите скидку 50% на второго мастера до 18:00
            .pagination-wrap
                include block/pagination