.blog-item{
  @include flexbox;
  margin-bottom: 80px;
  @include breakpoint(xs){
    @include flex-wrap(wrap);
    margin-bottom: 30px;
  }
  &:last-of-type{
    margin-bottom: 40px;
  }
  .blog-info{
    padding-left: 30px;
    @include breakpoint(xs){
      padding-left: 0;
    }
  }
  .date{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .text{
    line-height: 150%;
    margin-bottom: 30px;
  }
  .title{
    font-family: $font-family-alt;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    line-height: 120%;
    font-weight: 600;
    display: inline-block;
    @include breakpoint(xs){
      font-size: 22px;
    }
  }
  .blog-image{
    position: relative;
    overflow: hidden;
    height: 320px;
    min-width: 30%;
    width: 30%;
    @include breakpoint(sm-down){
      min-width: 40%;
      width: 40%;
    }
    @include breakpoint(xs){
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.blog-body{
  padding-bottom: 60px;
  margin-bottom: 120px;
  @include breakpoint(xs){
    margin-bottom: 50px;
  }
  .pagination-item{
    @include breakpoint(xs){
      margin: 0 5px;
    }
  }
}

.girls-slider{
  margin: 0 -15px;
  padding: 0 15%;
  @include breakpoint(md-down){
    padding: 0 10%;
  }
  @include breakpoint(sm-down){
    padding: 0;
    padding-bottom: 50px;
  }
  .model-item {
    position: relative;
    overflow: hidden;
    width: calc(25% - 30px);
    margin: 0 15px 40px 15px;
    height: 385px;
  }

  .slick-arrow{
    position: absolute;
    box-shadow: 1px 6px 13px 4px rgba(89, 12, 12, 0.5);
    background: #492E44;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 15px;
    bottom: calc(50% - 28px);
    &:hover{
      &:after{
        opacity: 1;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border-radius: 50%;
      transition: all .2s;
      opacity: 0;
      border: 3px solid #D82E44;
      filter: drop-shadow(1px 0px 3px #FF0000);
    }
    &:before{
      content: '';
      z-index: 2;
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border-radius: 50%;
      transition: all .2s;
      border: 1px solid #ffffff;
    }
    &.slick-prev,&.slick-next{
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15%;
      left: 5%;
      background-image: url("../images/svg/prev-arrow.svg");
      @include breakpoint(mxs){
        display: block;
      }
      @include breakpoint(md-down){
        left: 0;
      }
      @include breakpoint(sm-down){
        bottom: 0;
        left: 35%;
      }
      @include breakpoint(mxs){
        left: calc(50% - 76px);
      }
    }
    &.slick-next{
      @include rotate(180);
      right: 5%;
      @include breakpoint(md-down){
        right: 0;
        left: initial;
      }
      @include breakpoint(sm-down){
        right: 35%;
      }
      @include breakpoint(mxs){
        right: calc(50% - 76px);
      }
      left: initial;
    }

  }
}

.blog-item-body{
  h1{
    text-align: left;
  }
  .date{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .text{
    h4{
      text-align: left;
    }
    img{
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
      @include breakpoint(xs){
        margin-right: 0;
        width: 100%;
      }
    }
  }
  ul{
    font-size: 16px;
    margin-bottom: 35px;
    padding-left: 10px;
    li{
      list-style: none;
      position: relative;
      padding-left: 20px;
      margin-left: 0;
      margin-bottom: 10px;
      &:after{
        content: '';
        position: absolute;
        left: 3px;
        top: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color1;
      }
    }
  }
  .black{
    background: #000000;
    border-radius: 5px;
    padding: 15px 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    @include breakpoint(xs){
      margin-left: 0;
    }
  }
  .bold{
    font-weight: 500;
  }
}