.contact-wrap {
  @include flexbox;
  @include flex-wrap(wrap);

  .contact-left, .contact-right {
    width: 50%;
    @include breakpoint(sm-down){
      width: 100%;
    }
  }

  .contact-right {
    padding-left: 30px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include breakpoint(sm-down){
      padding-left: 0;
      padding-top: 40px;
    }
    iframe {
      max-width: 100%;
      height: 400px;
      margin-bottom: 50px;
      border-radius: 5px;
    }
  }
}

.contact-body {
  h3 {
    text-shadow: 0 2px 7px #ff0068;
  }

  .phone {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
    display: inline-block;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 11px);
      width: 22px;
      height: 22px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../images/phone.svg");
    }
  }

  .social-list {
    margin-bottom: 60px;
    a{
      margin-right: 35px;
    }
  }
  form{
    max-width: 100%;
  }
  .validation-field input {
    width: 100%;
  }

  .validation-field {
    margin: 0 auto 15px auto;
    width: 350px;
    max-width: 100%;
  }

  .info-text {
    font-size: 12px;
    line-height: 100%;
    color: #C6C6C6;
    width: 210px;
    max-width: 100%;
  }

  .button {
    margin-bottom: 20px;
  }
}

.contact-tab {
  padding: 15px 10px;
  background: #000000;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #ffffff;
  transition: all .2s;

  &.active {
    border: 1px solid #FF0068;
    box-shadow: 1px 1px 17px #FC3F83;
  }

  .address {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-left: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 11px);
      width: 16px;
      height: 22px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../images/address.svg");
    }
  }

  a {
    &:first-of-type {
      margin-left: 20px;
      @include breakpoint(smxs){
        margin-left: 0;
        margin-bottom: 5px;
      }
    }

    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    padding-left: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 8px);
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../images/phone.svg");
    }
  }
}