.stock-grid{
  @include flexbox;
  @include flex-wrap(wrap);
  margin: 0 -15px;
}

.stock-item{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 580px;
  width: calc(33.33% - 30px);
  margin: 0 15px 20px 15px;
  text-decoration: none;
  color: #ffffff;
  transition: all .2s;
  @include breakpoint(sm-down){
    height: 350px;
  }
  @include breakpoint(xs){
    width: calc(50% - 30px);
  }
  @include breakpoint(sxs){
    width: calc(100% - 30px);
  }
  &:hover{
    box-shadow: 1px 1px 17px #FC3F83;
    &:before{
      opacity: 1;
    }
  }
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(flex-end);
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FF0068 0%, #750787 97.37%);
    opacity: 0.3;
    pointer-events: none;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    width: 100px;
    height: 60px;
    pointer-events: none;
    z-index: 1;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: all .2s;
    background-repeat: no-repeat;
    background-image: url("../images/eye.png");
  }
  .title,.text{
    position: relative;
    color: #ffffff;
    text-align: center;
    z-index: 2;
  }
  .title{
    font-family: $font-family-alt;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    height: 43px;
    overflow: hidden;
  }
  .text{
    font-size: 15px;
    height: 30px;
    overflow: hidden;
  }
  .stock-info{
    z-index: 2;
    background: linear-gradient(360deg, #0D1745 17.49%, rgba(13, 23, 69, 0) 93.96%);
    padding: 15px;
  }
}